{% extends "base.html" %}

{% block content %}

<style>
    .centeralign {
    text-align: center;
    }
</style>

    <h1 class=centeralign>Create New Blog Post</h1>
    <form action="/validate-new-post" method='POST'>
        <label> New Blog Title:
            <input id="title" name="title" type="text" value="{{title}}" />
        </label>
        <p class="error">{{title_error}}</p>
        <label> New Blog Post:
            <textarea cols="50" rows="10" id="body"  name="body" value='{{body}}'></textarea>
        </label>
        <p class="error">{{body_error}}</p>
        <input type="submit" value='Publish Post' />
    </form>

    <!-- <hr />

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog.title}}
                <form method="POST" action="/delete-blog" style="display:inline-block;">
                    <input type="hidden" name="blog-id" value="{{blog.id}}" />
                    <input type="submit" value="Delete" />
                </form>
            </li>
            {% endfor %}
        </ul>
    
    {% endif %}
{% endblock %} -->